<div class="accordion accordion-flush" id="accMenu">
    <div class="accordion-item">
        <div class="accordion-header" id="header_reestrs">
          <button class="accordion-button collapsed px-1 py-2"
                  data-bs-toggle="collapse"
                  data-bs-target="#body_reestrs"
                  aria-expanded="false"
                  aria-controls="body_reestrs">
            Тестовый раздел
          </button>
        </div>
        <div id="body_reestrs" class="accordion-collapse collapse" aria-labelledby="header_reestrs" data-bs-parent="#accMenu">
          <div class="accordion-body text-end">
              <a class='nav-link px-0' href=#>Буря</a>
              <a class='nav-link px-0' href=#>Мглою</a>
              <a class='nav-link px-0' href=#>Небо кроет</a>
          </div>
        </div>
    </div>
</div>